@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-bitcount: 'Bitcount Prop Single', ui-sans-serif, system-ui;
}
